---
- name: Initialize development environment
  hosts: all

  tasks:
    - name: Install Homebrew package manager
      ansible.builtin.import_tasks: ../tasks/install-homebrew.yaml

    - name: Install Kitty terminal emulator
      ansible.builtin.import_tasks: ../tasks/install-kitty.yaml
      when: ansible_facts['system'] == "Darwin"

    - name: Install common packages
      ansible.builtin.import_tasks: ../tasks/install-packages.yaml
      vars:
        packages_file: ../files/packages/common.yaml

    - name: Install MacOS packages
      ansible.builtin.import_tasks: ../tasks/install-packages.yaml
      vars:
        packages_file: ../files/packages/mac_os.yaml
      when: ansible_facts['system'] == "Darwin"

    - name: Install Linux packages
      ansible.builtin.import_tasks: ../tasks/install-packages.yaml
      vars:
        packages_file: ../files/packages/linux.yaml
      when: ansible_facts['system'] == "Linux"

    - name: Create symbolic links
      ansible.builtin.import_tasks: ../tasks/create-symbolic-links.yaml
